<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button id="menu" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <!-- TODO add material search bar -->
    <div id="search">
      <mat-icon>search</mat-icon>
      <label>
        <input placeholder="Search here...">
      </label>
    </div>
    <button id="favorites" mat-icon-button routerLink="/favorites"><mat-icon>heart</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav
        #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="">Home</a>
        <a mat-list-item routerLink="/settings">Settings</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
