/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "shared/variables";

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-icon {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  color: $dark-grey;
}
h3 {
  margin-top: 1em;
}
